.pet-component {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(254,254,254, 0.20);
    border-radius: 20px;
    width: 50%;
    border: rgba(254, 254, 254, 0.3) solid 1px;
    color: #583523;
    font-weight: 600;
}
.pet-component > img {
    width: 100%;
}
#single-view {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-weight: 300;
    cursor: pointer;
}