.contact-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.21);
    width: 50%;
    margin-top: 5rem;
    border-radius: 20px;
    outline: rgba(255, 255, 255, 0.63);
    outline-style: solid;
    outline-width: 0.5px;
    padding: 1.2rem;
    box-sizing: border-box; 
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #A60530;
    text-align: center;
    word-wrap: break-word; 
}

#contact-desc {
    color: #A60530;
    text-align: center;
    word-wrap: break-word;
}
.contact-info {
    width: 100%;  
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.contact-info > p {
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    word-wrap: break-word;
}

span {
    color: #A60530;
    font-weight: 600;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

img {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    max-width: 50%;
    height: auto;  
}
@media (max-width: 768px) {
    .contact-info p {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.2rem;
    }
}