#found-single-container {
    background-color: rgba(254, 254, 254, .21);
    padding: 1.3rem;
    margin-top: 1.3rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border:rgba(254, 254, 254, .21) 1px solid;
}
.home-header {
    display: flex;
    margin: auto;
    background-color: rgba(254,254,254, 0.20);
    width: 90%;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1.5rem;
    border:rgba(254, 254, 254, .21) 1px solid;
}
#text-header > h1 {
    display: flex;
    font-size: 4rem;
}
#text-header > p {
    font-size: 1.1rem;
}
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#found-pet {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(254, 254, 254, .21);
    border:rgba(254, 254, 254, .21) 1px solid;
    width: 30%;
    margin: auto;
    margin-top: 1.5rem;
    border-radius: 20px;
}
#found-pet > img {
    width: 200px;
}
#found-details {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#found-pet p {
    color: #583523;
    font-weight: 400;
}
#extra-deets {
    margin-top: 1.4rem;
}
#report-click {
    background-color: #A60530;
    color: #F2C879;
    margin-top: 1.3rem;
    border-radius: 20px;
    padding: .5rem 2rem .5rem 2rem;
    font-weight: 600;
    cursor: pointer;
}
#warning > span {
    color: #583523;
    font-weight: 500;
}
#warning {
    font-style: italic;
    font-size: 0.7em;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
#back-found-single {
    display: block;
    margin: auto;
    background-color: rgba(254, 254, 254, .21);
    border:rgba(254, 254, 254, .21) 1px solid;
    color: #A60530;
    font-weight: 700;
    padding: .3rem 4rem .3rem 4rem;
    margin-top: 1.3rem;
    border-radius: 20px;
    cursor: pointer;
}