#found-single-container {
    background-color: rgba(254, 254, 254, .21);
    padding: 1.3rem;
    margin-top: 1.3rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border:rgba(254, 254, 254, .21) 1px solid;
}
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: rgba(254,254,254, 0.20);
    width: 100%;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1.5rem;
    border:rgba(254, 254, 254, .21) 1px solid;
}
#text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}
#text > h1 {
    font-size: 4rem;
    text-align: left;
}
#text > p {
    font-size: 1.1rem;
}
#img-header {
    width: 200px;
}
#found-pet {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(254, 254, 254, .21);
    border:rgba(254, 254, 254, .21) 1px solid;
    width: 50%;
    margin: auto;
    margin-top: 1.5rem;
    border-radius: 20px;
    padding: 2rem;
}
#found-pet > img {
    width: 200px;
}
#found-details {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#found-pet p {
    color: #583523;
    font-weight: 400;
}
#extra-deets {
    margin-top: 1.4rem;
}
#found-click {
    background-color: #A60530;
    color: #F2C879;
    margin-top: 1.3rem;
    border-radius: 20px;
    padding: .5rem .8rem .5rem .8rem;
    font-weight: 600;
}
#warning > span {
    color: #583523;
    font-weight: 500;
}
#warning {
    font-style: italic;
    font-size: 0.7em;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
#back-found-single {
    display: block;
    margin: auto;
    background-color: rgba(254, 254, 254, .21);
    border:rgba(254, 254, 254, .21) 1px solid;
    color: #A60530;
    font-weight: 700;
    padding: .3rem 4rem .3rem 4rem;
    margin-top: 1.3rem;
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width: 1024px) {
    #found-pet {
        width: 80%;
    }
}
@media (max-width: 640px) {
    #text > h1 {
        font-size: 3rem;
        text-align: center;
    }
    #text > p {
        font-size: .9rem;
    }
    #img-header {
        width: 150px;
    }
    #deets-left {
        font-size: 1rem;
        word-break: break-all;
    }
    #deets-right {
        font-size: 1rem;
        word-break: break-all;
    }
    #extra-deets {
        word-break: break-all;
    }
}