.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: rgba(254,254,254, 0.20);
    width: 90%;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
#safepaws {
    justify-content: flex-start;
}
#safepaws > img {
    width: 7rem;
    height: 7rem;
    transform: rotate(20deg)
}
#safepaws > h1 {
    font-size: 7rem;
}
#text-header p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}
#img-header img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
@media (max-width: 768px) {
    #img-header img {
        max-width: 300px
    }
    #safepaws > img {
        width: 4rem;
        height: 4rem;
        transform: rotate(20deg)
    }
    #safepaws > h1 {
        font-size: 4rem;
    }
    #text-header p {
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
    }
}
@media (max-width: 640px) {
    #img-header img {
        max-width: 200px
    }
    #safepaws > img {
        width: 3rem;
        height: 3rem;
        transform: rotate(20deg)
    }
    #safepaws > h1 {
        font-size: 3rem;
    }
    #text-header p {
        font-size: .8rem;
        margin-bottom: 1.2rem;
    }

}
@media (min-width: 480px ) and (max-width: 639px) {
    .home-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #safepaws {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}