.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: rgba(254,254,254, 0.20);
    width: 90%;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
#text-header h1 {
    font-size: 5rem;
}
#paw-img {
    width: 4rem;
    height: 4rem;
    transform: rotate(15deg)
}
#text-header > p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}
#img-header > img {
    width: 200px;
}
@media (max-width: 768px) {
    #img-header > img {
        width: 150px;
    }
}
@media (max-width: 640px) {
    #img-header > img {
        width: 100px;
    }
    #text-header > h1 {
        font-size: 5rem;
        letter-spacing: -3px;
    }
    #paw-img {
        width: 4rem;
        height: 4rem;
        transform: rotate(15deg)
    }
}
@media (min-width: 480px ) and (max-width: 639px) {
    .home-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #text-header > h1 {
        font-size: 2rem;
        letter-spacing: -5px;
    }
    #paw-img {
        width: 3.5rem;
        height: 3.5rem;
        transform: rotate(15deg)
    }
}