.forgot-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.21);
    width: 50%;
    margin-top: 5rem;
    border-radius: 20px;
    outline: rgba(255, 255, 255, 0.63);
    outline-style: solid;
    outline-width: 0.5px;
    padding: 1.2rem;
}
#forgot-input {
    display: flex;
    flex-flow: column wrap;
    margin-top: 1.5rem;
    width: 80%;
}
.forgot-container > p {
    text-align: center;
    color: #A60530;
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
}
#forgot-input > p {
    font-weight: 300;
}
#forgot-input > input {
    margin-top: 0.5rem;
    padding: 0.7rem;
    border-radius: 20px;
    outline: rgb(61, 61, 61);
    outline-style: solid;
    outline-width: 1px;
    width: 100%;
}
#reset {
    margin-top: 1.5rem;
    padding: 0.7rem 1.3rem;
    border-radius: 20px;
    background-color: #F2C879;
    color: #A60530;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
#cancel {
    margin-top: 1.5rem;
    padding: 0.7rem 1.3rem;
    border-radius: 20px;
    background-color: #A60530;
    color: #F2C879;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width: 768px) {
    .forgot-container > p {
        font-size: 2.5rem;
    }
}
@media (max-width: 639px) and (min-width: 480px){
    .forgot-container > p {
        font-size: 2rem;
    }
}