.dropdownMenu {
    position: absolute;
    top: 100%;        
    left: 50%;            
    transform: translateX(-50%); 
    width: 150px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: white;
    z-index: 9999;
}


/* .dropdownMenu::before{
    content: '';
    position: absolute;
    top: -1rem;
    right: 2rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
} */